.image-container {
  width: 375px;
  margin-top: 30px;
  float: left;
  margin-right: 30px;
  height: 313px;
  overflow: hidden;
}

.deleteButton {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  padding: 5px 0 !important;
}

.editTitle, .okButton {
  display: none;
}

.image-wrapper {
  height: auto;
  position: relative;
  margin-top: 10px;
}

body {
  background: url('../public/background.png');
}
