.image-container {
  width: 400px;
  margin-top: 30px;

}

.deleteButton {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}

.editTitle, .okButton {

  display: none;
}

.image-wrapper {
  height: auto;
  position: relative;
  margin-top: 10px;
}
